/*
 * Colors (accessible):
 * - red    (222,  73,  73)  #de4949
 * - blue   ( 51,  82, 225)  #3352e1
 * - yellow (255, 185,  55)  #ffb937
 * - purple ( 83,  51, 100)  #533364
 * - green  ( 47, 176, 110)  #2fb06e
 * - grey   ( 90, 125, 139)  #5a7d8b
 *
 * colors based on those:
 * - darkgrey       #2d3e45
 * - lightgrey      #b4bcd1
 */

html {
    height: 100%;
    box-sizing: border-box;
    hyphens: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: absolute;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    width: 100%;

    background-color: #efebd8;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;

    color: #6a6a4a;
    text-align: center;
    font-style: italic;
}

footer div {
    margin: 0 auto;
    border-top: 1px solid black;
}

a:link {
    color: #3352e1;
}

a:visited {
    color: #533364;
}

a:active {
    color: #5a7d8b;
}

div.content {
    /* layout */
    margin: 2em auto;
    width: 95%;
    max-width: 1000px;

    /* format */
    font-family: serif;
    font-size: 20px;
}

div.footnotes {
    line-height: 1.4;
}

div.footnotes li {
    margin-top: 1ex;
    margin-bottom: 1em;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.content p {
    /* format */
    line-height: 1.4;
    padding: 0.5ex 0;
}

.content pre {
    line-height: 1.25;
    font-size: 16px;
    font-variant-ligatures: none;
    background-color: #f6f3f0;
    border: 1px solid #b4bcd1;
    overflow-x: auto;
    padding: 1ex;
    margin: 1em 1ex;
    border-radius: .5ex;
}

.content p code {
    font-size: 16px;
    font-variant-ligatures: none;
}

.content blockquote {
    border-left: thick solid #c4bab4;
    margin: 1em 1em 1em 0;
    padding-left: 1em;
}

.content table {
    border-collapse: collapse;
}

.content table th,
.content table td {
    padding: 6px 13px;
    border: 1px solid #d4d4d4;
}

.content tbody tr:nth-child(odd) {
   background-color: #f3f3f3;
}

.content hr {
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #efebd8;
}

h1 {
    font-weight: normal;
}

.content h1.title {
    margin-bottom: .3ex;
    font-size: 32pt;
}

h2 {
    font-weight: normal;
}

.content h2 {
    margin: 1ex 0;
}

.content a.subtitle {
    color: #6a6a4a;
    font-style: oblique;
    display: block;
}

@media (min-width: 1000px) {
    .content a.subtitle {
        padding-left: 3em;
        padding-right: 3em;
    }
}

.content ul {
    list-style-type: none;
}

.content ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -25px;
}

.content ul li {
    margin-top: 1ex;
    margin-bottom: 1ex;
}
