#outerer {
    width: 600;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: table;
}

#outer {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#content {
    margin-top: -10pt;
    padding: 8pt;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    text-align: center;
}

#re-roll {
    margin-top: 5px;
    display: none;
    font-size: 12pt;
}

#r {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-size: 16pt;
}

#w {
    display: block;
    font-size: 16pt;
}

noscript {
    color: #444;
    display: block;
    margin-bottom: 10px;
}
