#outerer {
    width: 600;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: table;
}

#outer {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
#content {
    margin-top: -10pt;
    padding: 8pt;
    font-size: 16pt;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
}
#r {
    text-align: center;
    font-size: 16pt;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#w-div {
    text-align: center;
}
