{{ partial "header.html" . }}
<main>
    <article>
        <header>
            <h1 class="title"><a href="/">/</a> {{ .Title }}</h1>
            <a class="subtitle">{{ .Description }}</a>
            <nav>
                <ul>
                {{ range .Data.Pages }}
                    <li><a href="{{ .Permalink }}">{{ .Description }}</a>
                {{ end }}
                </ul>
            </nav>
        </header>
        {{ with .Content }}
    <hr>
        {{ . }}
        {{ end }}
    </article>
</main>
{{ partial "footer.html" . }}
