div.content {
    /* layout */
    margin: 2em auto;
    width: 85%;
    max-width: 1000px;

    /* format */
    font-family: serif;
    font-size: 12pt;
    color: #444;
}

div.footnotes {
    line-height: 1.6em;
}

div.footnotes li {
    margin-top: 1ex;
    margin-bottom: 1em;
}

.content p {
    /* format */
    line-height: 1.6em;
    padding: 0.5ex 0;
}

.content pre {
    line-height: 125%;
    background-color: #f3f3f3;
    border: 1px solid #d4d4d4;
    overflow-x: auto;
    padding: 1ex;
    margin: 1em 1ex;
    border-radius: .5ex;
    color: #393939;
}

.content blockquote {
    border-left: thick solid #d4d4d4;
    margin: 1em 1em 1em 0;
    padding-left: 1em;
}

.content table {
    border-collapse: collapse;
}

.content table th,
.content table td {
    padding: 6px 13px;
    border: 1px solid #d4d4d4;
}

.content tbody tr:nth-child(odd) {
   background-color: #f3f3f3;
}

.content hr {
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #f3f3f3;
}

.content h1.title {
    margin-bottom: .3ex;
    font-size: 32pt;
}

.content h2 {
    margin: 1ex 0;
}

.content a.subtitle {
    color: #6f6f6f;
    font-style: oblique;
}

@media (min-width: 1000px) {
    .content a.subtitle {
        padding-left: 3em;
        padding-right: 3em;
    }
}

.content ul {
    list-style-type: none;
}
.content ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}
.content ul li {
    margin-top: 1ex;
    margin-bottom: 1ex;
}
