/* special style specifically for printing. */

/* hide useless elements */
nav {
	display: none;
}
.noprint {
	display: none;
}

/* paper doesn't scroll */
figure .scrollable {
	max-width: initial;
	overflow-x: initial;
}
figure pre {
	max-width: initial;
	overflow-x: initial;
	white-space: pre-wrap;
}

/* get rid of link colors, and ... */
a[href] {
	color: initial;
}
/* make link targets visible, or ... */
a[href]:not(.local)::after {
	content: " (" attr(href) ")"
}
/* ... hide them (for local links) */
a[href].local {
	text-decoration: none;
}
