/* structural elements/layout */
body {
	color: #191816;
}
main {
	max-width: 600pt;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
nav {
	text-align: center;
	width: 100%;
	color: white;
	background-color: #2d2d2d;
	padding: 1px;
	border-radius: 5px;
}
nav a:link {
	color: #a8b5ff;
}
nav a:visited {
	color: #d9aada;
}

/* text rendering */
p {
	hyphens: auto;
}
h1 {
	text-align: center;
}
div.time {
	text-align: center;
}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 2px solid gray;
	font-style: oblique;
}

/* figures and such */
svg {
	stroke: black;
	fill: black;
}
table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
figure {
	padding: 0;
	margin: 0;
	border: 1px solid #eee;
	border-radius: 2px;
	background-color: #fbfbfb;
}
figure pre {
	max-width: calc(100% - 2ex);
	overflow-x: auto;
	text-align: left;
	margin: 0;
	padding: 1ex;
}
figure.centered {
	text-align: center;
}
figure.centered * {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: fit-content;
}
figure .scrollable {
	max-width: 100%;
	overflow-x: auto;
}
caption {
	font-style: italic;
}
figcaption {
	font-style: italic;
	margin-bottom: 1ex;
}
dt {
	margin-top: 15px;
}

/* dark mode colors */
@media (prefers-color-scheme: dark) {
	body {
		color: #fffff8;
		background-color: #191816;
	}
	svg {
		stroke: white;
		fill: white;
	}
	figure {
		border-color: #333;
		background-color: #222;
	}
	a:link {
		color: #a8b5ff;
	}
	a:visited {
		color: #d9aada;
	}
}

@font-face {
	font-family: "sitelenSeliKiwen";
	src: url("/style/sitelenselikiwenjuniko.woff");
}
