{{ partial "header.html" . }}
<main>
    <header>
        <h1 class="title"><a href="/">/</a> {{ .Title }}</h1>
        <a class="subtitle">{{ .Description }}</a>
        <nav>
            <ul>
            {{ range .Data.Pages }}
                <li>({{ dateFormat "2006-01-02" .Date }}) <a href="{{ .Permalink }}">{{ .Description }}</a>
            {{ end }}
            </ul>
        </nav>
    </header>
    {{ with .Content }}
<hr>
    <article>
        {{ . }}
    </article>
    {{ end }}
</main>
{{ partial "footer.html" . }}
