div.content {
    /* layout */
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    max-width: 1000px;

    /* format */
    font-family: serif;
}

p {
    /* format */
    line-height: 1.5em;
    text-align: justify;
    color: #222;
}

p code {
    background-color: #dfdfdf;
    border-radius: .5ex;
    border: 1px solid #d4d4d4;
    padding: .3ex;
    color: #393939;
}

pre {
    line-height: normal !important;
    background-color: #dfdfdf;
    border: 1px solid #d4d4d4;
    overflow-x: auto;
    padding: 1ex;
    border-radius: .5ex;
    color: #393939;
}
